{% extends "base.html" %}

{% block title %}
{{ repo.owner.username }}/{{ repo.name }} — Code
{% endblock %}

{% block content %}




<div class="repo-header">
  <div>
    <h2>{{ repo.owner.username }}/{{ repo.name }}</h2>
    <div style="color:#8b949e;">
      Browsing branch: <strong>{{ branch.name }}</strong>
    </div>
  </div>
</div>







<div class="card" style="margin-bottom:15px;">

  <div style="color:#8b949e; font-size:14px;">
    <a href="{% url 'repos:code' repo.id %}" style="color:#58a6ff; text-decoration:none;">
      root
    </a>

    {% if path %}
      /
      {{ path }}
    {% endif %}
  </div>

</div>


<!-- File Explorer -->


<div class="card">

  {% if files %}

    {% for name, node in files.items %}

      <div class="file-row">

        {% if node.is_dir %}

          <!-- Folder -->
          <div class="file-name">
            📁
            <a href="{% url 'repos:code' repo.id %}?path={{ path|add:name|add:'/' }}">
              {{ name }}/
            </a>
          </div>

          <div class="file-meta">
            Folder
          </div>

        {% else %}

          <!-- File -->
          <div class="file-name">
            📄
            <a href="{% url 'repos:file_view' repo.id branch.id path|add:name %}">
              {{ name }}
            </a>
          </div>

          <div class="file-meta">
            {% if node.commit_message %}
              {{ node.commit_message|truncatechars:40 }}
              <span style="margin-left:10px;">
                {{ node.commit_date|date:"M d" }}
              </span>
            {% endif %}
          </div>

        {% endif %}

      </div>

    {% endfor %}

  {% else %}

    <p>No code has been pushed yet.</p>

  {% endif %}

</div>

{% endblock %}
