{% extends "base.html" %}

{% block title %}
Create Repository
{% endblock %}

{% block content %}

<div class="repo-header">
  <h2>Create a new repository</h2>
</div>

<div class="card">

  <form method="post">
    {% csrf_token %}

    
    <!-- General Section -->
  

    <h3>General</h3>

    <div style="margin-bottom:15px;">
      <strong>Owner:</strong> {{ request.user.username }}
    </div>

    <div style="margin-bottom:15px;">
      <label>Repository name *</label><br>
      <input type="text" name="name" required
             style="width:100%; padding:8px; border-radius:6px; border:1px solid #30363d; background:#0d1117; color:#c9d1d9;">
    </div>

    <div style="margin-bottom:20px;">
      <label>Description (optional)</label><br>
      <textarea name="description"
                style="width:100%; padding:8px; border-radius:6px; border:1px solid #30363d; background:#0d1117; color:#c9d1d9;"></textarea>
    </div>


    
    <!-- Configuration Section -->
    

    <h3>Configuration</h3>

    <div style="margin-bottom:15px;">
      <label>Visibility *</label><br>
      <select name="visibility"
              style="width:100%; padding:8px; border-radius:6px; border:1px solid #30363d; background:#0d1117; color:#c9d1d9;">
        <option value="public">Public</option>
        <option value="private">Private</option>
      </select>
    </div>

    <div style="margin-bottom:15px;">
      <label>
        <input type="checkbox" name="add_readme">
        Add a README file
      </label>
    </div>

    <div style="margin-bottom:15px;">
      <label>Add .gitignore</label><br>
      <select name="gitignore"
              style="width:100%; padding:8px; border-radius:6px; border:1px solid #30363d; background:#0d1117; color:#c9d1d9;">
        <option value="">None</option>
        <option value="Python">Python</option>
        <option value="Django">Django</option>
      </select>
    </div>

    <div style="margin-bottom:25px;">
      <label>Add license</label><br>
      <select name="license"
              style="width:100%; padding:8px; border-radius:6px; border:1px solid #30363d; background:#0d1117; color:#c9d1d9;">
        <option value="">None</option>
        <option value="MIT">MIT</option>
        <option value="GPL">GPL</option>
      </select>
    </div>

    
    <!-- Submit Button -->
    

    <button type="submit" class="btn">
      Create repository
    </button>

  </form>

</div>

{% endblock %}
